.loader {
  width: 30px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, rgb(34, 197, 94) 90%, transparent) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}

@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}

.email-verification-wrapper {
    display: flex;
    flex-direction: column;
}

.email-verification-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.email-verification-body {
    flex: 1;
}

.content-wrapper {
    right: 30px;
    z-index: 999;
    width: 450px;
    height: 45vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: #fff;
    transition: all 0.3s;
    padding: 1.52rem;
}

.chatbot-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.iq-chatbot-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #22c55e;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chatbot-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatbot-input {
    /*flex-grow: 1;*/
}

.chatbot-body {
    flex: 1;
}

.hidden {
    display: none;
}

.chat-message-user {
    background-color: #ddd;
}