@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
    background: transparent !important;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

.heading-font {
    font-family: "Afacad", sans-serif;
}


#chatbot-iframe {
    background: transparent;
}

a {
    text-decoration: underline !important;
    font-weight: bold;
}

.iq-message-wrapper > a {
    text-decoration: underline !important;
}

.iq-message-wrapper > p {
    font-family: "Inter", sans-serif !important;
    font-size: 14px !important;
    font-weight: 300 !important;

}

.iq-message-wrapper > strong {
    font-family: "Inter", sans-serif !important;
    font-size: 14px !important;
}

b,
strong {
    font-family: "Inter", sans-serif !important;
    font-size: 14px !important;
}

ol:not([class]) li:before {
    font-family: "Inter", sans-serif !important;
    font-size: 14px !important;
}

/* 
blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
    overflow-x: auto !important;
    max-width: 22rem !important;
} */

/* Default styles */
.responsive-box {
    width: 440px;
    height: 390px;
}

/* Large screens (desktops, 1200px and above) */
@media (min-width: 1200px) {
    .responsive-box {
        width: 600px;
        height: 500px;
    }
}

/* Medium screens (tablets, 768px to 1199px) */
@media (min-width: 768px) and (max-width: 1199px) {
    .responsive-box {
        width: 80%;
        height: 100%;
    }
}

/* Small screens (phones, less than 768px) */
@media (max-width: 767px) {
    .responsive-box {
        width: 100%;
        height: 100%;
    }
}

.alert-container {
    position: fixed;
    bottom: 8rem;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.alert {
    background-color: #ffffff;
    color: #333333;
    text-align: start;
    font-weight: normal;
    font-size: 15px;
    padding: 14px 36px 14px 16px;
    margin: 5px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateY(20px);
    position: relative;
    max-width: 20rem;
    word-wrap: break-word;
    cursor: pointer;
    font-family: Arial, sans-serif;
    border: 1px solid #e0e0e0;
}

.alert.show {
    opacity: 1;
    transform: translateY(0);
}

.alert .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    color: #999999;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
}

/* Mus.JS */

.controls {
    margin-bottom: 20px;
}

.controls td {
    vertical-align: top;
    padding: 0 20px;
}

.move-mouse-here {
    width: 400px;
    height: 200px;
    display: table;
    margin: 0 auto;
    background-color: #33ff00;
    text-align: center;
    line-height: 200px;
}

.click-here {
    width: 400px;
    height: 200px;
    display: table;
    margin: 0 auto;
    background-color: #00ffff;
    text-align: center;
    line-height: 200px;
}

.scroll-here {
    width: 400px;
    height: 2000px;
    display: table;
    margin: 0 auto;
    background-color: #00c4ff;
    text-align: center;
    line-height: 200px;
}

#console {
    font-size: 10px;
}