@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    text-decoration: underline !important;
    font-weight: bold;
}

.iq-message-wrapper > a {
    text-decoration: underline !important;
}

.iq-message-wrapper > p {
    font-family: "Red Hat Display", sans-serif !important;
    font-size: 14px !important;
    font-weight: 300 !important;

}

.iq-message-wrapper > strong {
    font-family: "Red Hat Display", sans-serif !important;
    font-size: 14px !important;
}

b, strong {
    font-family: "Red Hat Display", sans-serif !important;
    font-size: 14px !important;
}

ol:not([class]) li:before {
    font-family: "Red Hat Display", sans-serif !important;
    font-size: 14px !important;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
    overflow-x: auto !important;
    max-width: 22rem !important;
}